h1{
    font-size: 36px;
    color: orange;
    text-align: center;
}

body{
    background-color: black;
    color: aqua;
}

h2{
    color: navajowhite;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

p{
    font-size: 25px;
}

h5{
    font-size: 40px;
}

#weirdness{
    color:blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#weird2{
    color: cadetblue;
}


.gaming{
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
}

.common{
    border: 2px solid wheat;
    position: absolute;


}

#top{
    z-index: 10;
    width: 100%;
    left: 5px;
    height: 75px;
}

.left{
    top: 115px;
    left: 15px;
    width: 150px;
    bottom: 40px;
    border: 1px dotted darkolivegreen;
}

.right{
    top: 5%;
    right: 5px;
    width: 30%;
    bottom: 40px;
    border: dotted darkviolet;
    
}

.footer{
    bottom: 5px;
    height: 5%;
    left: 5px;
    right: 5px;
    border: dotted blue;
    text-align: center;
    position: fixed;
}