body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 36px;
    color: black;
    text-align: center;
    /*font-weight: bold;*/
}
h2{
    font-size: 30px;
    color: navy;
    text-align: center;
    text-decoration: underline;
    /*font-weight: bold;*/
    
}
h3{
    color: darkred;
    font-family: 'Courier New', Courier, monospace;
}